.top5 {
  margin-top: 5px !important;
}

.top10 {
  margin-top: 10px !important;
}

.top15 {
  margin-top: 15px !important;
}

.top20 {
  margin-top: 20px !important;
}

.top25 {
  margin-top: 25px !important;
}

.top30 {
  margin-top: 30px !important;
}

.vertical-center-td {
  vertical-align: middle !important;
}

.w100 {
  width: 100% !important;
}

.all-right {
  text-align: right !important;
}

.custom-btn {
  height: 50px !important;
}

.custom-btn.padding-btn {
  padding-left: 35px;
  padding-right: 35px;
}

.custom-btn-radius {
  height: 40px !important;
  border-radius: 360px !important;
}

.btn-labeled {
  padding-top: 7px;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 20px;
}

.btn-label {
  position: relative;
  top: 3px;
  left: -5px;
}

.bx.custom-bx {
  font-size: 20px;
}

.modal.show,
.modal-backdrop.show {
  width: 100% !important;
}

.hide {
  display: none !important;
}

.modal.show.hide {
  display: block !important;
}

.select2-dropdown {
  z-index: 9999999;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 7px 10px;
  border-radius: 50%;
  background: var(--first-color-dark-30percent);
  color: white;
  font-size: 12px;
}

@media only screen and (max-device-width: 480px) {
  .custom-btn {
    font-size: 22px !important;
    height: 70px !important;
  }

  .custom-btn-radius {
    height: 60px !important;
    font-size: 22px !important;
  }

  .btn-labeled {
    padding-top: 12px;
  }

  .btn-label {
    top: 1px;
  }

  .modal.show,
  .modal-backdrop.show {
    width: 100% !important;
  }

  .modal-dialog {
    max-width: 90% !important;
  }
}
