.top5 {
  margin-top: 5px !important;
}

.top10 {
  margin-top: 10px !important;
}

.top15 {
  margin-top: 15px !important;
}

.vertical-center-td {
  vertical-align: middle !important;
}

.w100 {
  width: 100% !important;
}

.all-right {
  text-align: right !important;
}

.custom-btn {
  height: 50px !important;
}

.custom-btn-radius {
  height: 40px !important;
  border-radius: 360px !important;
}

.btn-labeled {
  padding-top: 7px;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 20px;
}

.btn-label {
  position: relative;
  top: 2px;
  left: -5px;
}

@media only screen and (max-device-width: 480px) {
  .custom-btn {
    font-size: 22px !important;
    height: 70px !important;
  }

  .custom-btn-radius {
    height: 60px !important;
    font-size: 22px !important;
  }

  .btn-labeled {
    padding-top: 12px;
  }

  .btn-label {
    top: 1px;
  }
}
