.pagination-right {
    float: right;
}

.paginationjs {
    margin-top: -50px;
}

.data-container caption {
    margin-top: 10px;
}

@media only screen and (max-device-width: 480px) {
    table {
        font-size: 22px;
    }
}
